/*////////////////////////////////////////////////////////////////////////////////
// Responsive
///////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width:1199px){
.container-fluid {
    max-width: 960px;
}
.cb-content .cb-main.col-md-8 {
     width: 63.333%;
	 }
.cb-side-bar {
    width: 35%;
    margin-left: 1.667%;
}
.cb-pagination {
    margin-bottom: 40px;
}
	}
@media screen and (max-width:992px){
.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}
.cb-side-bar {
    width: 100%;
	max-width: 330px;
    margin: 0 auto;
    float: none;
	overflow: hidden;
}
.cb-left .cb-side-bar {
    margin: 0 auto;
    float: none;
}
#cb-footer .cb-footer-bottom {
    padding: 20px 30px;
}
.cb-header .cb-menu-toggle{
	display: inline;
	}
.cb-header .cb-menu-toggle .fa-times{
	display:none;
	}
.cb-header .cb-menu-toggle.cb-open-menu .fa-bars{
	display:none;
	}
.cb-header .cb-menu-toggle.cb-open-menu .fa-times{
	display:inline-block;
	}		
.cb-header .cb-nav ul li {
    display: block;
    width: 100%;
}
.cb-header .cb-nav > ul {
    position: absolute;
    z-index: 999;
    background-color: #14141B;
    left: 0px;
	margin: 0px auto;
	width: 100%;
	top: 39px;
	overflow:hidden;
	-webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
	display:none;
}
.cb-header .cb-nav > ul.cb-show-menu {
	display:block;
	}
.cb-header .cb-nav ul li ul.sub-menu {
    position: relative;
    display: block;
	padding-top: 0px;
	border:medium none;
}
.cb-header .cb-nav ul li ul.sub-menu li ul.sub-menu {
    position: relative;
    right: auto;
    display: block;
	border:medium none;
}
.cb-header .cb-nav ul li ul.sub-menu li{
	width:auto;
	}
.cb-header .cb-nav ul li ul.sub-menu li a{
	padding-left:40px;
	}
.cb-header .cb-nav ul li ul.sub-menu li ul.sub-menu li a {
    padding-left: 60px;
}
.cb-header .cb-nav ul li {
    width: 100%;
	border:medium none;
    border-top: 1px solid #36383E;
}
.cb-header .cb-nav ul li a {
    padding: 10px 20px;
}
.cb-header .cb-nav ul > li.menu-item-has-children > a::after{
	display:none;
	}
.cb-header .cb-top-search-form {
    right: 0px;
    width: 100%;
    max-width:100%;
    bottom: -62px;
    right: 0px;
    margin: 0px auto;
	border:medium none;
	padding: 0px 2px;
}
.cb-header .cb-top-search-form input {
	border: 1px solid #36383E;
}
.cb-content .cb-main.col-md-8 {
    width: 100%;
}
.cb-article-grid,.cb-article-grid.cb-full-width {
    width: 48%;
    margin-right: 4%;
    float: left;
}
.cb-article-grid.cb-full-width:nth-child(3n+3) {
    margin-right: 4%;
}
.cb-article-grid.cb-full-width:nth-of-type(2n){
	margin-right:0px;
	}
	}
@media screen and (max-width:767px){
/**Genaral**/	
h1, .h1 {
    font-size: 20px;
}
h2, .h2 {
    font-size: 18px;
}
h3, .h3 {
    font-size: 17px;
}
h4, .h4 {
    font-size: 16px;
}
h5, .h5 {
    font-size: 15px;
}
blockquote {
	font-size: 14px;
}	
/***Slider***/
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -6px;
    left: 3px;
}	
.cb-slider .cb-slider-block {
    min-height: 330px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.cb-slider .cb-slider-inner {
    height: 160px;
    width: 350px;
    margin-top: -80px;
    margin-left: -175px;
    padding: 15px;
}
.cb-slider .cb-slider-inner h2 {
    line-height: 22px;
    margin-top: 5px;
	max-height: 50px;
	overflow: hidden;
}
.cb-slider .cb-slider-inner h2 a {
    font-size: 18px;
}
.cb-slider .cb-slider-inner a.cb-more {
    margin-top: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff none repeat scroll 0% 0%;
}
.cb-article-list .cb-post-media {
    width: 240px;
}
.cb-article-list .cb-list-content {
    min-height: 170px;
}
.cb-article-list.has-post-thumbnail .cb-list-content {
    padding: 0px 0px 0px 20px;
}
.cb-article-list .cb-list-entry p {
    min-height: 62px;
}
.cb-post-title a {
    font-size: 18px;
    line-height: 28px;
    display: block;
    text-overflow: inherit !important;
	overflow: inherit !important;
	white-space: inherit !important;
}
#cb-footer .widget.cb_fblike_widget {
    text-align: left;
}
#cb-footer .cb-footer-bottom p {
    text-align: center;
    margin-bottom: 15px;
}
#cb-footer .cb-footer-bottom .cb-footer-social {
    text-align: center;
}
.cb-comment-list .children {
    padding-left: 20px;
}
.cb-comment-list .children .children {
    padding-left: 20px;
}
.cb-comment .author-img {
    max-width: 50px;
}
	}
@media screen and (max-width:601px){
.cb-slider .cb-slider-block {
    min-height: 220px;
}
.cb-slider .cb-slider-inner {
	background-color:transparent;
	}
.cb-slider .cb-slider-inner h2 a {
    color: #FFF;
    text-shadow: 0px 0px 2px #333;
}
.cb-slider .cb-slider-date {
    text-shadow: 0px 0px 2px #333;
    color: #fff;
}
.cb-slider .cb-slider-inner {
    width: 100%;
    margin-left: 0px;
	left:0;
}
article.post {
    margin-bottom: 40px;
}
.cb-article-list .cb-post-media {
    float: none;
}
.cb-article-list .cb-post-media {
    width: auto;
    display: block;
	margin:0 auto 20px;
}
.cb-article-list.has-post-thumbnail .cb-list-content {
    padding: 0px;
}
.cb-article-list .cb-list-entry p {
    max-height: auto;
}
.cb-post-meta,.cb-post-share {
    display: block;
    width: 100%;
    text-align: center;
}
.cb-post-more{
	display:none;
	}
.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}
.cb-article-grid,.cb-article-grid.cb-full-width {
    width: 100%;
    margin-right: 0;
    float: none;
}
.cb-about-author .cb-author-avatar {
    float: none;
    margin: 0px auto 20px;
    display: block;
}
.cb-about-author .author-info {
    display: block;
    text-align: center;
}
.cb-post-share {
	text-align: right;
}
	}
@media screen and (max-width:415px){
.cb-slider .cb-slider-block {
    min-height: 150px;
}
.cb-comment .date {
    display: block;
    margin-top: 5px;
}	
	}